.nav{
    display: flex;
    align-self: strech;
    
    height: 6.4rem;
    box-shadow: 0 1px 3px rgba($color-grey-dark, 0.4);
    justify-content: space-evenly;
    &--header{
        z-index: 1;
        padding:5rem;
        color: $color-font-dark;
        justify-content: space-evenly;
        font-size: 1.5rem;
        font-weight: 500;
        background-image: linear-gradient(90deg, $color-secondary-light 0%, #ffffff 10%, #ffffff 25%, $color-secondary 70% );
    }
    &--footer{
        display: flex;
        background-color: $color-grey-dark;
        justify-content: space-around;
        
        padding-bottom: 5rem;
        font-size: 1.2rem;
        font-weight: 100;
    }
    &__item{
        list-style: none;
        text-transform: uppercase;
        color: $color-font-light;
        letter-spacing: 1px;
        align-self: center;
        padding: 1rem;
        
    }
    &__cc{
        list-style: none;
        letter-spacing: 1px;
        align-self: center;
        padding: 1rem;
        color: $color-font-light;

    }
    &__logo{
        height: 6rem;
        width: 26.2rem;
    }
}


// $color-secondary: #e6e6e6;
// .body{
//   background-color: black;
// }
// .container{
//   display: flex;
//   flex-direction: column;
// }
// .flex-item{
//   margin:10px;
//   color: white;
//   font-size: 30px;
//   text-transform: uppercase;
//   font-weight: 300;
//   padding: 2%;
//   font-family: sans-serif;
//   letter-spacing: 2px;
// }
// .header,
// .footer{
//   z-index:1;
//   // grid-column: 1 / -1;
//   align-self: strech;
//   background-image: linear-gradient(90deg, $color-secondary 0%, #ffffff 15%, #ffffff 50%, $color-secondary 70% )
// }
// .main-container{
//   transform: translateY(-52px);
//   display: grid;
//   justify-content: center;
//   width: 70%;
//   align-self: center;
//   height: 800px;
//   grid-template-rows:  repeat(3, 2fr);
//   grid-template-columns: repeat(3, 2fr) 1.5fr;
//   grid-gap: 30px;
//   // margin: 0 auto;
  
// }
// .item{
//   background-color: red;
//   color: white;
//   font-size: 30px;
//   text-transform: uppercase;
//   font-weight: 300;
//   padding: 2%;
//   font-family: sans-serif;
//   letter-spacing: 2px;
// }

// .sidebar{
//   grid-row: 1 / 4;
// }
// .main{
//   grid-row: 2 / 4;
//   grid-column: 1 / 4;
// }
