.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.7);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: all .3s;
    &:target{
        opacity: 1;
        visibility: visible;
    }
    
   
    &__content{
        width: 75%;
        display:flex;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%) scale(0.3);
        opacity: 0;
        transition: all .4s .2s;
        // padding:1rem;
    }
    &:target &__content{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
    &__main{
        box-shadow: 0, 4rem 4rem rgba(0,0,0,0.2);
        background-color: white;
        margin: 5rem;
        padding: .5rem 1rem ;
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-65%,0)
        
    }
    &__prev,
    &__next{
        transform: translate(240%,50%);
    }
    &__title{
        text-transform: uppercase;
        color: $color-primary-dark;
        padding:  .8rem 0;
    }
    &__close{
        position: absolute;
        top: -3%;
        right: -1.8%;
    }
}

// #popup__photo-1{
    
// }