.popup{
    height: 110vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.7);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: all .3s;
    &:target{
        opacity: 1;
        visibility: visible;
    }
    @media only screen and (max-width: 1200px){
        &__img{
            // height: 250px;
            
            width: 46rem;
        }  
    }
    @media only screen and (max-width: 500px){
        &__img{
            // height: 250px;
            width: 23rem;
        }   
    }
    
    &__vid{
        width: 56rem;
        height: 31.5rem;
        @media only screen and (max-width: 1200px){
            width: 46rem;
        }
        @media only screen and (max-width: 500px){
            width: 24rem;
        }

    }
   
    &__content{
        width: 75%;
        display:flex;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%) scale(0.3);
        opacity: 0;
        transition: all .4s .2s;
        padding: 8%;
        @media only screen and (max-width: 1200px){
            padding: .1%;
        }
        
        @media only screen and (max-width: 500px){
            width: 95%;
            padding: .1%;
        }
      
    }
    &:target &__content{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
    &__main{
        box-shadow: 0, 4rem 4rem rgba(0,0,0,0.2);
        background-color: white;
        margin: 5rem;
        padding: .5rem 1rem ;
        position: relative;
        @media only screen and (max-width: 1200px){
            margin: 2rem;
            padding: .2rem .2rem ;
            width: 48rem;
        }
        
        @media only screen and (max-width: 500px){
            margin: 2rem;
            padding: .1rem .4rem ;
            transform: translateX(1rem);
            width: 24rem;
        }
       
    }
    &__prev,
    &__next{
        transform: translateY(50%);
        @media only screen and (max-width: 1200px){
            width: 4rem;
        }
        
        @media only screen and (max-width: 500px){
            width: 1rem;
        }
        
    }
    &__title{
        text-transform: uppercase;
        color: $color-primary-dark;
        padding:  .8rem 0;
    }
    &__close{
        position: absolute;
        // transform: translateY(100%);
        top: -3%;
        right: -1.8%;
        @media only screen and (max-width: 500px){
            top: -6%;
        }
    }
}

// #popup__photo-1{
    
// }